.e404
  &_grid
    display: flex
    position: fixed
    top: 50%
    transform: translateY(-50%)
    width: 100%
    justify-content: center
    flex-direction: column
    row-gap: 2rem
  &_illustration
    display: flex
    margin: auto
    justify-content: space-evenly
    align-items: center
    text-align: center
    svg
      width: 10rem
      margin: 0 3rem
      color: var(--text-fg)
    img
      width: 10rem
      margin: 0 3rem
  &_text, &_title, &_button
    text-align: center
    white-space: pre-wrap
    word-wrap: break-word
  &_title
    font-size: 4rem
    margin: 0
  &_points
    font-size: 4rem
    user-select: none
  &_button
    width: 22rem
    padding: .5rem 1rem 
    margin: auto
    &s
      &_grid
        display: flex
        margin-left: 20vw
        margin-right: 20vw
        justify-content: space-evenly