.banner
    position: relative;
    color:  var(--light)
    font-family: $font-titles
    text-shadow: -1px 1px $colorpalette_3_base
    &_background
        background-image: url("#{$images}brand/banner-light.png")
        background-size: cover
        background-repeat: no-repeat
        background-position: 42% 55%
        box-shadow: 0 8px 20px rgba($colorpalette_0_dark,0.2)
        margin-top: 0
        height: 24rem
        filter: brightness(.9)
        // transition: background-image 3s ease
    &_title, &_quote, &_text, &_punchline
        max-width: 38rem
        position: absolute
        white-space: pre-wrap
        word-wrap: break-word
        right: 6%
        font-weight: bold
        text-align: right
        user-select: none
    &_title
        object-fit: scale-down 
        width: 25rem
        margin-right: 10rem
        top: 5rem
    &_quote
        top: 10rem
        display: flex
        flex-direction: column
        align-items: flex-end
        h3, h4
            color:  var(--light)
            font-style: italic
            padding-bottom: 0
            margin-bottom: 0
        h3
            font-size: 1.7rem
            font-weight: inherit
        h4
            margin-top: 0
            font-size: .9rem
            font-style: italic
            font-variant: small-caps
    &_text
        font-size: 1rem
        top: 19rem
        transform: translate(0,-50%)
    &_punchline
        font-size: 2rem
        font-variant: small-caps
        top: 21rem

html
    &[color-mode="dark"]
        .banner_background
            background-image: url("#{$images}brand/banner-dark.png")
            // transition: all 3s ease