*
  box-sizing: border-box
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 0
  padding: 0

body, html
  scroll-behavior: smooth
  font-kerning: normal
  text-rendering: geometricPrecision
  font-size: 100%
  overscroll-behavior: none

body
  font-family: $font-standard
  font-size: 1.25rem
  font-kerning: normal
  background: var(--choice-bg)
  color: var(--text-fg)
  line-height: 1.5
  margin: 0 auto
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh
a
  text-decoration: none
  color: inherit
  word-break: break-word
  hyphens: auto

  &:focus, &:focus-within
    outline: none !important

h1,h2,h3,h4,h5
  font-family: inherit
  font-weight: 300
  padding: 5px 0
  margin: 15px 0
  color: var(--header-fg)
  line-height: 1.35
  &:hover .link
    opacity: .5

h1
  font-size: 200%
  font-weight: 400
h2
  font-size: 175%
h3
  font-size: 150%
h4
  font-size: 125%
h5
  font-size: 120%
h6
  font-size: 100%

img, svg
  max-width: 100%
  vertical-align: middle
img
  height: auto
  margin: 1rem auto
  padding: 0

ul
  list-style: none

b, strong
  font-weight: 800
  
em 
  font-style: oblique
  font-weight: 100
  font-variant: small-caps

hr 
  border: none
  padding: 1px
  background: var(--text-fg)
  opacity: 0.5
  margin: 1rem 0

table
  display: block
  width: 100%
  font-size: 1rem
  border-collapse: collapse
  margin-bottom: 0
  &:not(.ln-table) t
    background: var(--table-bg)
  width: fit-content
  margin-left: auto
  margin-right: auto
  table-layout: fixed
  overflow-x: auto

td, th
  border: 1px solid var(--table-border)
  padding: .5rem .8rem
  text-align: center
  font-weight: 400

th
  font-weight: 700
  background-color: var(--table-header);

tbody
  padding: 0
  tr
    &:nth-child(even)
      background-color: var(--table-haze)
    &:nth-child(odd)
      background-color: var(--table-bg)

p
  padding: 0.5rem 0
