.color 
  &_mode, &_choice
    border: none
    height: 1.5rem
    align-items: center
  &_mode 
    display: grid
    margin: 0 0.5rem
    @media screen and (min-width: 769px)
      margin: 0 1.5rem
      grid-template-columns: 1fr
  &_choice
    width: 3rem
    background-color: $colorpalette_3_dark
    border-radius: 1rem
    cursor: pointer
    position: relative
    &::after
      content: ""
      position: absolute
      top: 0.1rem
      left: 0.1rem
      width: 1.3rem
      height: 1.3rem
      background-image: url("#{$theme-images}sun.svg")
      background-position: center
      background-size: cover
  &_animate
    transition: transform 0.5s ease
    &::after
      transition: transform 0.5s ease
      will-change: transform

html
  @mixin darkmode
  &[color-mode="dark"]
    .color_choice
        &::after
          background-image: url("#{$theme-images}moon.svg")
          transform: translateX(1.4rem)
