.icon
  display: inline-flex
  justify-content: center
  align-items: center
  // margin: 0 1.0rem
  &, img, svg
    min-width: 20px
    width: 1.1rem
    height: 1.1rem

.button
  background: var(--button-bg)
  color: var(--button-fg)
  border: 2px solid var(--button-border)
  transition: .6s ease
  cursor: pointer
  display: block
  text-align: center
  // vertical-align: center
  user-select: none
  padding: 0 .5rem
  -webkit-box-shadow: var(--shadow) 5px 8px 10px
  box-shadow: 5px 8px 10px var(--shadow)
  &:hover
    background: var(--button-bg-hover)
    transition: .3s ease

.font-size-1rem
  font-size: 1rem !important

.nodisplay
  display: none

.text
  &-left
    text-align: left
  &-center
    text-align: center

.margin
  &-bottom-1
    margin-bottom: 1rem
  &-left-1
    margin-left: 1rem
  &-right-1
    margin-right: 1rem