.cookie
    &_container 
        z-index: 995
        width: 100%
        padding: 10px 30px 
        background: rgba($colorpalette_0_dark,.9)
        position: fixed 
        bottom: 0
        align-items: center
        justify-content: space-between
        opacity: 0
    &_desc
        display: block
        font-size: 1rem 
        color: var(--light)
        line-height: 1.2
        white-space: break-spaces
        word-wrap: anywhere
        hyphens: auto
        a 
            color: var(--light)
            text-decoration: underline
    &_flex
        display: inline-flex !important
        opacity: 1
    &_button 
        display: inline-block 
        color: var(--button-fg)
        font-size: 1.2rem
        font-weight: bold 
        background: var(--button-bg)
        word-break: normal
        padding: 1rem 1.5rem 
        text-align: center 
        user-select: none
        transition: background 0.3s 
        &:hover 
            cursor: pointer 
            background: var(--button-bg-hover)
