.postcard
    &_container
        display: flex
        border: 1px solid var(--borders)
        font-size: 1rem
        flex: 0 1 20rem
        flex-direction: column
        overflow: hidden
        margin: 0 0.5rem 2rem
        height: 42rem
        background: rgba(white, 0.2)
        box-shadow: -8px 14px 20px var(--shadow)
        img
            margin: .5rem
        &:hover
            outline: 0.25rem solid var(--text-fg)
            outline-offset: -0.25rem
            transition: .3s ease
    &_image
        display: block
        overflow: hidden
        img
            max-width: 318px
            max-height: 200px
            width: auto
            height: auto
            padding-left: 2%
            padding-right: 2%
            padding-top: 2%
            margin: auto
    &_text
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: space-between
        &_excerpt
            position: relative
            overflow: hidden
            padding: 0.5rem 1.5rem 0
            &_title, &_desc
                overflow: hidden
                text-overflow: ellipsis
            &_title
                font-family: $font-excerpt-title
                font-weight: bold
                font-size: 1.2rem
                color: var(--header-fg)
                margin-top: 0
                margin-bottom: 0
                text-transform: uppercase
                // limit to 3 lines
                // line-clamp: 3
            &_desc
                font-family: $font-excerpt-desc
                font-size: 1rem
                color: var(--text-fg) !important
                text-align: justify
                // limit to 8 lines
                // line-clamp: 8
        &_meta
            border-top: 2px solid rgba($colorpalette_3_base, 0.1)
            padding-top: .5rem !important
            flex-direction: column
            align-items: center
            padding: 0
            &, &_container_tag, &_container_cat
                display: flex
                white-space: nowrap
                overflow: hidden
                justify-content: center
                align-content: flex-start
            &_container_tag
                flex-wrap: wrap
                flex-basis: 3.8rem
            &_container_cat
                flex-wrap: nowrap
                flex-basis: 1.8rem
            &_div
                display: flex
                align-items: center
                min-height: 2rem
            &_date, &_author,&_reading_time, &_taxo
                // common properties
                font-size: 0.8rem
                color: var(--text-fg)
                flex-shrink: 0
                letter-spacing: .05em
                font-weight: 500
                text-transform: uppercase
            &_taxolist
                display: flex
                flex-wrap: wrap
            &_author
                a  
                    text-transform: none
                    color: var(--text-fg)