.footer 
  border-top: 1px solid var(--borders)
  background: var(--footer-bg)
  margin-top: 1rem
  font-size: 0.9rem
  z-index: 990
  &_inner
    display: grid
    margin-left: 2rem
    grid-template-columns: 1fr 5rem 12rem
    align-items: center
    position: relative
    @media screen and (min-width: 840px)
      white-space: nowrap

// git, facebook, twitter icons
.follow
  display: flex
  align-items: center
  margin-right: 5rem
  flex: 1
  justify-content: flex-end
  svg
    fill: var(--text-fg)
    margin-left: 0.75rem

.privacy-policy
  display: flex
  align-items: center
  margin: 0
  width: 4rem
  span
    display: flex
    flex-wrap: wrap
    justify-content: center
    font-size: .6rem
    line-height: .5rem
    margin: 0
  svg
    fill: var(--text-fg)
    margin-left: 0.2rem

// icon to go to the top of the page
.to
  &_top
    border: 2px solid var(--borders)
    background-color: var(--footer-bg)
    width: 2.5rem
    height: 2.5rem
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    position: fixed
    bottom: 1rem
    right: 1.5rem !important
    z-index: 999
    transition: .4s ease
    &.ios
      position: absolute
      bottom: 0.75rem
      right: 0
    &:hover
      background-color: var(--choice-bg)
      transition: .4s ease
    svg
      margin: 0 .8rem
      opacity: 0.5
      transition: opacity 0.3s ease
    &:hover svg
      opacity: 1