.nav
  color: $colorpalette_0_aluminium
  justify-content: space-between
  &_header
    background-color: var(--header-bg)
    padding: 0.25rem 2rem
    position: fixed
    width: 100%
    z-index: 99
    border-bottom: 1px solid var(--borders)
    transition: top 1s linear
  &_brand
    .title, .logo
      margin: 0
      max-height: 2.6rem
      padding-left: 0
    .title
      max-width: 10rem
    .logo
      background: transparent
      margin-right: 0.5rem
      filter: invert(1) brightness(200%) contrast(75%)
  &, &_body, &_parent, &_item
    display: flex
  &_body
    flex: 1
  &_parent
    position: relative
    align-items: center
  &_item
    padding: 0 1rem
    align-items: center
    white-space: nowrap
    user-select: none
    &:hover
      transform: scale(1.1)
      transition: all 0.2s
  &_active
    background-color: rgba($colorpalette_0_light, 0.2)
    &:hover
      transform: scale(1.1)
      transition: all 0.2s ease
  &_sub
    left: 0
    position: absolute
    margin-top: .9rem
    top: 2rem
    transition: visibility .2s, opacity .2s linear
    overflow: hidden
    background: var(--header-bg)
    border-left: 1px solid $colorpalette_3_lighter
    border-right: 1px solid $colorpalette_3_lighter
    border-bottom: 1px solid $colorpalette_3_lighter

  &_sub &_item
    &:not(.nav_child)
      position: relative
    z-index: 5
    display: block
    padding-top: 0.75rem
    padding-bottom: 0.75rem
    margin: 0
  &_hide
    visibility: hidden
    opacity: 0
    transition: visibility .2s, opacity .2s linear
