.highlight
  margin-left: 1rem
  pre
    margin-left: -.5rem
    font-size: 1rem
    line-height: 1.3
    font-family: $font-monospace
    text-align: left
    white-space: pre-wrap
  &_wrap
    background: var(--table-border)
