.image
  &_scalable
    cursor: zoom-in
    height: auto
  &_scale
    &_back
      position: fixed
      visibility: hidden
      top: 0
      left: 0
      width: 100vw
      height: 100vh
      background: rgba($colorpalette_3_desat,.8)
      opacity: 0
      z-index: 999
      transition: all ease 0.4s
    &_show
      visibility: visible
      opacity: 1
    &_front
      position: relative
      top: 50%
      transform: translateY(-50%)
      img
        max-width: 95%
        max-height: 95%
        width: auto
        height: auto
        // width: 100%
        // height: auto
        margin: 0 auto
