.page
  &_title
    margin-top: 0
    margin-bottom: 0
  &_posts
    &_list
      padding: 2rem
    &_of_taxo
      display: inline-flex
      align-items: center
      font-size: 175%
      line-height: 1.5
      margin: 1rem 2rem
  &_description
    padding-top: 0
  &_taxos
    padding: 0 2rem
    display: flex
    flex-wrap: wrap
    align-content: flex-start
    row-gap: .8rem
    column-gap: .3rem
  
// paginate components, used for infinite scroll
.paginate
  &_next_page_button
    display: block
    max-width: 25%
    padding: 0.5rem 1rem
    text-align: center
  &_feed
    display: flex
    position: relative
    flex-wrap: wrap
    justify-content: flex-start
    @media screen and (min-width: 960px)
      justify-content: space-evenly
      padding-left: calc( (100% - 40rem - 2rem - 2px) / 4 * 0.6)
      column-gap: calc( (100% - 40rem - 2rem - 2px) / 2 )
      margin: 0 calc( (100% - 40rem - 2rem - 2px) / 4 )
    @media screen and (min-width: 1024px) // 1024px to 1280px large
      justify-content: initial
      padding-left: calc( (100% - 40rem - 2rem - 2px) / 4 * 0.6)
      column-gap: calc( (100% - 40rem - 2rem - 2px) )
      margin: 0 calc( (100% - 40rem - 2rem - 2px) / 4 )
    @media screen and (min-width: 1280px) // 1280px to 1366px large
      justify-content: initial
      padding-left: calc( (100% - 60rem - 3rem - 2px) / 6 * 0.6)
      column-gap: calc( (100% - 60rem - 3rem - 2px) / 3 )
      margin: 0 calc( (100% - 60rem - 3rem - 2px) / 6 )
    @media screen and (min-width: 1790px) // starting here we have 4 columns
      padding-left: calc( (100% - 80rem - 4rem - 2px) / 8 * 0.6 )
      column-gap: calc( (100% - 80rem - 4rem - 2px) / 4) 
      margin: 0 calc( (100% - 80rem - 4rem - 2px) / 8) 
    @media screen and (min-width: 2280px) // starting here we have 5 columns
      padding-left: calc( (100% - 100rem - 5rem - 2px) / 10 * 0.6)
      column-gap: calc( (100% - 100rem - 5rem - 2px) / 5 ) 
      margin: 0 calc( (100% - 100rem - 5rem - 2px) / 10  )
    @media screen and (min-width: 2580px) // starting here we have 6 columns
      padding-left: calc( (100% - 120rem - 6rem - 2px) / 12 * 0.6 )
      column-gap: calc( (100% - 120rem - 6rem - 2px) / 6 ) 
      margin: 0 calc( (100% - 120rem - 6rem - 2px) / 12 )
    @media screen and (min-width: 2940px) // starting here we have 7 columns
      padding-left: calc( (100% - 140rem - 7rem - 2px) / 14 * 0.6 )
      column-gap: calc( (100% - 140rem - 7rem - 2px) / 7) 
      margin: 0 calc( (100% - 140rem - 7rem - 2px) / 14)
    @media screen and (min-width: 3320px) // starting here we have 8 columns
      padding-left: calc( (100% - 160rem - 8rem - 2px) / 16 * 0.6 )
      column-gap: calc( (100% - 160rem - 8rem - 2px) / 8) 
      margin: 0 calc( (100% - 160rem - 8rem - 2px) / 16)

// 1.5 a gauche, 1.5 a droite, 20 rem par excerpt
.grid-ui
  display: grid
  max-width: 3840px
  margin-top: 3rem
  grid-template-columns: 1fr  // default, below 960px large
  @media screen and (min-width: 960px)
    grid-template-columns: 1fr 13rem
  @media screen and (min-width: 1024px) // 1024px to 1280px large
    grid-template-columns: 1fr 18rem
  @media screen and (min-width: 1280px) // 1024px to 1280px large
    grid-template-columns: 1fr 15rem
  @media screen and (min-width: 1366px) // 1366px to 1440px large
    grid-template-columns: 1fr 18rem
  @media screen and (min-width: 1420px) // 1440px to 1600px large
    grid-template-columns: 1fr 21rem
  @media screen and (min-width: 1580px) // 1600px to 1920px large
    grid-template-columns: 1fr 24rem
  @media screen and (min-width: 1920px) // 1920px to 2048px large
    grid-template-columns: 1fr 26rem
  @media screen and (min-width: 2048px) // 2048px to 2560px large. 3440px, 3840px and larger
    grid-template-columns: 1fr 28rem