.post
	&_meta
		a
			color: var(--post-link)
		h1
			margin-top: 0
			margin-bottom: -.5rem
			padding-bottom: 0
			font-variant: small-caps
			font-size: 250%
			font-weight: 800
			// max-width: 80rem
		img
			display: block
			margin-left: auto
			margin-right: auto
		&_div
			display: flex
			align-items: center
			min-height: 2rem
		&_subdiv
			display: flex
		&_date, &_author,&_reading_time, &_taxo
			// common properties to date and author
			font-size: .8rem
			color: var(--text-fg)
			flex-shrink: 0
			letter-spacing: .05em
			font-weight: 200
			text-transform: uppercase
		&_author
			a  
				font-size: .9rem
				text-transform: none
				color: var(--text-fg)
		&_taxolist
			display: flex
			flex-wrap: wrap
	&_translations
		font-size: 1rem
	&_header
		&_controls
			display: grid
			flex-wrap: nowrap
			align-items: center
			grid-template-columns: 33% 33% 33%
			@media screen and (min-width: 1200px)
				grid-template-columns: 17rem 17rem 17rem
			&_div
				display: inline-flex
				align-items: center
				justify-content: center
		&_label
			font-size: 1rem
			text-align: right
		&_button
			&_mode, &_choice
				border: none
				height: 1.2rem
				align-items: center
			&_mode
				display: grid
				margin: 0 1rem
				grid-template-columns: 1fr
			&_choice
				width: 2.5rem
				background-color: var(--button-switch-off)
				border-radius: 1rem
				cursor: pointer
				position: relative
				&::after
					background: var(--button-fg)
					content: ""
					position: absolute
					top: 0.1rem
					left: 0.1rem
					width: 1rem
					height: 1rem
					-webkit-mask-image: url("#{$theme-images}bullet-point.svg")
					mask-image: url("#{$theme-images}bullet-point.svg")
					transition: transform .4s ease
				&_animate
					background-color: var(--button-switch-on)
					&::after
						transform: translateX(1.3rem)
						transition: transform .4s ease
	&_frame
		&_with_toc, &_without_toc
			padding-bottom: 2rem
			margin-top: 3.5rem
			margin-left: auto
			margin-right: auto
			text-align: justify
		&_with_toc
			display: grid
			grid-column-gap: 2rem
			grid-template-columns: 1fr
			max-width: 2560px
			padding: 0 .5rem
			@media screen and (min-width: 840px)
				padding: 0 1rem
				grid-template-columns: 1fr 12rem
			@media screen and (min-width: 1024px)
				grid-template-columns: 1fr 18rem
				padding: 0 2rem
			@media screen and (min-width: 1280px)
				grid-template-columns: 1fr 20rem
				padding-left: 3rem
				padding-right: 2rem
				grid-column-gap: 3rem
			@media screen and (min-width: 1440px)
				grid-template-columns: 1fr 21rem
				padding-left: 4rem
				padding-right: 2rem
				grid-column-gap: 4rem
		&_without_toc
			display: block
			max-width: 2560px
			padding-left: .5rem
			padding-right: .5rem
			@media screen and (min-width: 840px)
				padding-left: 1rem
				padding-right: 1rem
			@media screen and (min-width: 1024px)
				padding-left: 2rem
				padding-right: 2rem
			@media screen and (min-width: 1280px)
				padding-left: 3rem
				padding-right: 2rem
			@media screen and (min-width: 1440px)
				padding-left: 4rem
				padding-right: 2rem
	&_bottom
		&_wave
			background-image: url("#{$theme-images}wave-light.svg")
			background-size: cover
			background-repeat: no-repeat
			height: 7rem
		&_comments
			background-color: #{$colorpalette_0_steel}
	&_content-num
		h1
			counter-reset: h2counter
		h2
			&::before
				content: counter(h2counter) ".\0000a0\0000a0"
			counter-increment: h2counter
			counter-reset: h3counter
		h3
			&::before
				content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0"
			counter-increment: h3counter
			counter-reset: h4counter
		h4
			&::before
				content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0"
			counter-increment: h4counter
	&_content
		overflow-x: auto
		a
			color: var(--post-link)
		ul, ol
			list-style: initial
			padding-bottom: .5rem
			padding-left: 2rem
		ol
			list-style: decimal
		li
			padding-top: 0.5rem
		img
			display: block
			margin-left: auto
			margin-right: auto
		h1
			counter-reset: h2counter
		h2
			color: var(--post-h2)
			border-bottom: 2px solid var(--borders)
			font-weight: 800
			font-weight: bolder
		h3
			color: var(--post-h3)
			font-weight: 600
		h4
			color: var(--post-h4)
			font-weight: 600

html
	&[color-mode="dark"]
		.post_bottom
			&_wave
				background-image: url("#{$theme-images}wave-dark.svg")
				background-size: contain
				background-repeat: no-repeat
				height: 7rem
			&_comments
				background-color: #{$colorpalette_3_desat}