blockquote 
	border-radius: 0.5rem 
	font-family: $font-quote
	font-style: italic 
	padding: 1rem 1rem 1rem 3rem 
	border-left: 8px solid var(--text-fg)
	position: relative 
	background: rgba($colorpalette_0_dark, 0.1)
	margin-bottom: 0.5rem 
	margin-top: 0.5rem 
	font-size: 1rem
	&::before 
		content: "\201C" 
		color: var(--text-fg) 
		font-size: 4rem
		position: absolute 
		left: 0
		top: -0.5rem 
	&::after 
		content: "" 
	span 
		display: block 
		color: var(--text-fg) 
		font-style: normal 
		font-weight: bold 
		margin-top: 0.25rem 
