html
  // generic variables
  --light: #{$colorpalette_0_light}
  --dark: #{$colorpalette_3_darker}
  --darker: #{$colorpalette_0_dark}
  --font: $font-standard

  --translucent-dark-a: rgba(black,0.05)
  --translucent-light-a: rgba(white,0.05)
  --translucent-dark-b: rgba(black,0.1)
  --translucent-light-b: rgba(white,0.1)

  // color-mode variables
  --color-mode: light
  // backgrounds
  --choice-bg: #{$colorpalette_0_aluminium}
  --footer-bg: #{$colorpalette_0_light}
  --header-bg: #{$colorpalette_3_light}
  --borders: #{$colorpalette_0_stone}40
  --lines-all: #{$colorpalette_2_lighter}
  --lines-focus: #{$colorpalette_2_dark}
  // foreground
  --text-fg: #{$colorpalette_0_stone}
  --text-hover: #{$colorpalette_1_base}
  --header-fg: #{$colorpalette_0_dark}
  // tables
  --table-bg: #{$colorpalette_0_light}
  --table-haze: #{$colorpalette_0_aluminium}
  --table-header: #{$colorpalette_0_iron}
  --table-border: #{$colorpalette_0_steel}
  // post text style
  --post-link: #{$colorpalette_1_base}
  --post-h2: #{$colorpalette_1_dark}
  --post-h3: #{$colorpalette_1_base}
  --post-h4: #{$colorpalette_1_light}
  // coding syntax
  --code-bg: var(--translucent-light)
  // buttons
  --button-bg: #{$colorpalette_3_light}
  --button-fg: #{$colorpalette_0_aluminium}
  --button-bg-hover: #{$colorpalette_2_dark}
  --button-border: #{$colorpalette_3_darker}
  --button-deactivated: #{$colorpalette_2_light}
  --button-switch-on: #{$colorpalette_1_base}
  --button-switch-off: #{$colorpalette_3_light}
  // effects
  --shadow: #{$colorpalette_3_base}12
  --highlight: #{$highlight_light}

  @mixin darkmode
    --color-mode: dark
    // backgrounds
    --choice-bg: #{$colorpalette_3_base}
    --footer-bg: #{$colorpalette_3_light}
    --header-bg: #{$colorpalette_3_desat}
    --borders: #{$colorpalette_0_steel}40 
    --lines-all: #{$colorpalette_2_dark}
    --lines-focus: #{$colorpalette_2_lighter}
    // foreground
    --text-fg: #{$colorpalette_0_steel}
    --text-hover: #{$colorpalette_1_lighter}
    --header-fg: #{$colorpalette_0_light}
    // tables
    --table-bg: #{$colorpalette_3_light}
    --table-haze: #{$colorpalette_3_lighter}
    --table-header: #{$colorpalette_3_desat}
    --table-border: #{$colorpalette_3_dark}
    // post text style
    --post-link: #{$colorpalette_1_lighter}
    --post-h2: #{$colorpalette_1_lighter}
    --post-h3: #{$colorpalette_1_light}
    --post-h4: #{$colorpalette_1_base}
    // coding syntax
    --code-bg: var(--translucent-light)
    // buttons
    --button-bg: #{$colorpalette_2_dark}
    --button-fg: #{$colorpalette_0_steel}
    --button-bg-hover: #{$colorpalette_2_base}
    --button-border: #{$colorpalette_2_light}
    --button-deactivated: #{$colorpalette_2_darker}
    --button-switch-on: #{$colorpalette_1_dark}
    --button-switch-off: #{$colorpalette_2_dark}
    // effects
    --shadow: #{$colorpalette_0_steel}12
    --highlight: #{$highlight_dark}

  &[color-mode="dark"]
    @include darkmode
    svg.icon
      fill: var(--light)