.search
  &_container
    margin-top: 55px
    align-content: center
    text-align: center
    img
      width: 720px
      margin: 0 auto
  &_header
    &_by
      display: flex
      width: 800px
      margin: auto
      justify-content: space-around
      align-items: center
      a
        font-size: 1rem
        line-height: 1
    &_title
      position: absolute
      left: 50%
      top: 50px
      transform: translateX(-50%)
      color: $colorpalette_0_aluminium
      max-width: 800px
      font-size: 2.8rem
      font-weight: bold
      font-variant: small-caps
      user-select: none
  &_input
    margin: 1rem auto
    font-size: 1.1rem
    padding: .5rem 1rem
    height: 3rem
    width: 60%
    background-color: var(--table-bg)
    color: var(--text-fg)
    border: 2px solid var(--header-bg)
  &_separator
    background-color: var(--table-border)
    height: .3rem
    margin-bottom: .5rem
  &_loading
    display: none
    &_img
      width: 720px
      height: 361px
      margin: 0 auto
      background-image: url("#{$images}theme/loading-light.svg")
    &_text
      font-size: 5rem
      margin-top: -40px
      font-weight: bold
      font-variant: small-caps
      user-select: none
  &_findings
    color: var(--text-fg)
    text-align: left
    margin: 0 2rem
    font-size: 1rem
    a
      font-size: 1.25rem
    &_prepost, &_highlight, &_label
      font-size: 1rem
    &_label
      font-style: italic
      color: var(--lines-focus)
    &_highlight
      color: var(--header-fg)
      font-weight: bold
      background-color: var(--highlight)
    &_showmore
      display: block
      text-align: center
      font-variant: small-caps
      background-color: var(--table-border)
      width: 80%
      margin: 0 auto 2rem
    &_list
      &_show, &_hidden
        font-size: 1rem
      &_show
        padding: 0 0 1rem 1rem
      &_hidden
        display: none
        padding: 0

html
    &[color-mode="dark"]
        .search_loading_img
            background-image: url("#{$images}theme/loading-dark.svg")
