.edito
  &_title
    text-align: center
    font-weight: bold
    text-transform: uppercase
    font-size: 1.2rem
  &_text
    text-align: justify
    font-size: 1rem
  &_conclusion
    font-weight: bold
    font-size: 1.2rem

.sidebar
  margin-right: .5rem
  @media screen and (min-width: 672px)
    margin-right: 1rem
  &_taxonomies
    &_list
      cursor: initial
      background: var(--choice-bg)
      padding: 4.5rem 1.5rem 1.5rem 1.5rem
      border: 1px solid var(--borders)
      // border-radius: 1rem
      max-width: 720px
      margin: 0 auto
      box-shadow: 0 0.5rem 1.5rem rgba(black,0.12)
      position: relative
      display: flex
      flex-flow: row wrap
    &_show_all
      &_container
        display: none
        &.jswidgetopen
          display: initial
          position: fixed
          top: 0
          left: 0
          height: 100vh
          width: 100vw
          overflow-y: auto
          padding: 5rem 1.5rem
          background: rgba($colorpalette_3_dark,.75)
          cursor: pointer
          z-index: 800
      &_disp
        cursor: initial
        background: var(--choice-bg)
        padding: 4.5rem 1.5rem 1.5rem 1.5rem
        border-radius: 1rem
        max-width: 720px
        margin: 0 auto
        box-shadow: 0 0.5rem 1.5rem rgba(black,0.12)
        position: relative
        display: flex
        flex-flow: row wrap
      &_button
        margin-top: 0.5rem
        margin-left: 10%
        margin-right: 12%
      &_hide
      &_sort
        font-size: 1rem
        color: var(--button-fg)
        background: var(--button-deactivated)
        position: absolute
        top: 1.5rem
        left: 1.5rem
        border-radius: 1.5rem
        padding: 0.1rem
        &, span
          user-select: none
        span
          display: inline-flex
          justify-content: center
          align-items: center
          height: 2rem
          position: relative
          z-index: 5
          cursor: pointer
          width: 4.8rem
          font-weight: 500
        &::before
          content: ""
          position: absolute
          width: 4.5rem
          top: 0.25rem
          bottom: 0.25rem
          left: 0.25rem
          // z-index: 3
          background: var(--button-bg)
          border-radius: 2rem
          transition: 0.3s transform ease
        &.sorted
          &::before
            transform: translateX(5rem)
  &_container
    &_tag, &_cat, &_ser
      // dummy classes for js to run
  &_title
    // (almost) aligned to the excerpt graphics
    margin-left: -.5rem
    border: 1px solid var(--borders)
    border-left: .6rem solid var(--borders)
    border-right: none
    overflow: hidden
    padding-left: .5rem
    background: linear-gradient(to right, rgba(white, 0.2) 0%, rgba(white, 0.2) 93%, rgba(white, 0.01) 100%)
    box-shadow: -3px 4px 5px var(--shadow)
    font-size: 1.5rem
    font-weight: bold
    user-select: none
    span
      filter: opacity(.4)
  &_inner
    position: relative
