.subscribe
  &_text
    font-size: 1.1rem
  &_dummy
    display: none
  &_back
    position: fixed
    visibility: hidden
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: rgba($colorpalette_3_dark,.75)
    z-index: 900
    opacity: 0
    transition: all ease 0.4s
  &_show
    visibility: visible
    opacity: 1
  &_front
    position: relative
    z-index: 990
    width: 480px
    height: 260px
    top: 50%
    margin: auto
    background: var(--choice-bg)
    box-shadow: 0 0.5rem 1.5rem rgba(black,0.12)
    transform: translateY(-50%)
    padding: 1rem 2rem
    &_h2
      margin-top: 0
      margin-bottom: 0
      font-weight: 600
    &_text
      font-size: 1rem
    &_labels
      font-size: 1.1rem
      margin-right: 1rem
      white-space: nowrap
      overflow: hidden
    &_required
      color: red
      display: inline
      font-size: .7rem
    &_input
      border: 1px solid var(--borders)
      font-family: $font-standard
      padding: .2rem
    &_grid
      display: grid
      grid-template-columns: 8rem 15rem
      row-gap: 1rem
  &_button
    &_form
      margin-top: 0.5rem
      margin-left: 10%
      margin-right: 12%
    &_container
      display: flex
      justify-content: space-around
      margin-top: 1rem
    &_send, &_cancel
      width: 8rem
      margin-top: .5rem
html
  @mixin darkmode
  &[color-mode="dark"]
    .subscribe_back
      background: rgba($colorpalette_0_iron,.8)
