.table
  &_wrapper
    display: grid
    width: 100%
    max-width: 100%
    overflow-x: auto
    margin-bottom: 1.5rem
  &_collapsed
    // makes the table scrollable
    max-height: 60vh
    overflow-y: auto