.category
  &_label, &_counter
    overflow: hidden
    white-space: nowrap
    user-select: none
    color: $colorpalette_0_light !important
    line-height: normal
  &_label
    background-color: $colorcategory
    padding: .25rem .6rem
    margin: 0.2rem
    text-transform: uppercase
    border-radius: 2rem
    font-size: 0.8rem
    line-height: normal
    &:hover, &:focus
      filter: brightness(1.3)
  &_counter
    padding: 0 .5rem
    border-radius: 0.5rem
    background-color: $colorcategorycounter
    align-items: center
    margin-top: auto
    margin-bottom: auto
    margin-left: .5rem
    font-size: 0.7rem
    font-weight: bold

.series
  &_label, &_counter
    overflow: hidden
    white-space: nowrap
    user-select: none
    color: $colorpalette_0_light !important
    line-height: normal
  &_label
    background-color: $colorseries
    padding: .25rem .6rem
    margin: 0.2rem
    text-transform: uppercase
    border-radius: 2rem
    font-size: 0.8rem
    line-height: normal
    &:hover, &:focus
      filter: brightness(1.3)
  &_counter
    padding: 0 .5rem
    border-radius: 0.5rem
    background-color: $colorseriescounter
    align-items: center
    margin-top: auto
    margin-bottom: auto
    margin-left: .5rem
    font-size: 0.7rem
    font-weight: bold
  

.tag
  &_label, &_counter
    overflow: hidden
    white-space: nowrap
    user-select: none
    background-clip: padding-box
    color: $colorpalette_0_light !important
  &_label
    background-color: $colortag
    padding: .25rem .6rem
    margin: 0.2rem
    text-transform: uppercase
    border-radius: 2rem 
    font-size: 0.8rem
    line-height: normal
    &:hover, &:focus
      filter: brightness(1.25)
  &_counter
    padding: 0 .5rem
    border-radius: 0.5rem
    background-color: $colortagcounter
    align-items: center
    margin-top: auto
    margin-bottom: auto
    margin-left: .5rem
    font-size: 0.7rem
    font-weight: bold
