.toc 
	overflow-y: auto 
	& > .toc_list_root
		overflow: hidden 
		position: relative 
		li 
			list-style: none
	&_list
		&_root
			padding-left: 10px 
			list-style-type: none
			text-align: left
			margin: 0 .5rem
			li
				font-size: 1rem
				padding: 0.5rem 0
		&_item
			// empty
		&_hnum
			padding-left: 30px 
			list-style-type: decimal
			ol
				list-style: none
	&_is
		&_collapsible
			max-height: 90vh 
			overflow: hidden 
			transition: all .3s ease-in-out 
		&_collapsed 
			max-height: 0
		&_position_fixed
			position: fixed !important 
			top: 0 
		&_active_link
			font-weight: 700
			&::before 
				background-color: var(--lines-focus) !important
	&_link 
		font-size: 1rem
		height: 100% 
		&::before 
			background-color: var(--lines-all)
			content: ' ' 
			display: inline-block 
			height: inherit 
			// height: 2rem
			left: 0 
			margin-top: -6px
			position: absolute 
			width: .2rem
		&:hover
			color: var(--text-hover)
			transition: .4s ease
	&_sticky
		position: fixed
		z-index: 980
		display: block
	&_endbar 
		&::before 
			background-color: var(--lines-all)
			content: ' ' 
			height: 100vh
			position: absolute 
			width: .2rem