{{- $s := .Site.Params }}
{{- $p := .Params }}
<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if .IsPage }} class="page"{{ end }}{{ with $s.enforceMode }} color-mode="{{ $s.enforceMode }}"{{ end }}>
  <head>
    {{- partial "head" . }}
    <!-- styles definition-->
    {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
    {{ $mainSassFile :=  "sass/main.sass" }}
    {{- $styles := resources.Get $mainSassFile | resources.ExecuteAsTemplate $mainSassFile . | resources.ToCSS $options }}
    {{- if (eq (getenv "HUGO_ENV") "production") -}}
      {{- $styles = $styles | minify | fingerprint "sha512" -}}
    {{- end -}}

    <!-- scripts definition -->
    <!-- variables -->
    {{- $varsPath := "js/vars.js" }}
    {{- $vars := resources.Get $varsPath | resources.ExecuteAsTemplate $varsPath . }}
    <!-- generic function -->
    {{- $functionsScriptPath := "js/functions.js" }}
    {{- $functions := resources.Get $functionsScriptPath | resources.ExecuteAsTemplate $functionsScriptPath . }}
    <!-- show/hide the language submenu -->
    {{- $navbarLangMenuPath := "js/navbar-lang-menu.js" }}
    {{- $navbarLangMenu := resources.Get $navbarLangMenuPath | resources.ExecuteAsTemplate $navbarLangMenuPath . }}
    <!-- color mode switcher -->
    {{- $colorModeScriptPath := "js/color-mode.js" }}
    {{- $colorMode := resources.Get $colorModeScriptPath | resources.ExecuteAsTemplate $colorModeScriptPath . }}
    <!-- auto-hide navbar when scrolling -->
    {{- $hideNavbarScriptPath := "js/hide-navbar.js" }}
    {{- $hideNavbar := resources.Get $hideNavbarScriptPath | resources.ExecuteAsTemplate $hideNavbarScriptPath . }}
    <!-- script to popup all categories/tags/series and ordering -->
    {{- $showAllTaxosPath := "js/show-all-taxos.js" }}
    {{- $showAllTaxos := resources.Get $showAllTaxosPath | resources.ExecuteAsTemplate $showAllTaxosPath . }}
    <!-- script to popup all categories/tags/series and ordering -->
    {{- $showSubscribeFormPath := "js/show-subscribe-form.js" }}
    {{- $showSubscribeForm := resources.Get $showSubscribeFormPath | resources.ExecuteAsTemplate $showSubscribeFormPath . }}
    <!-- overloading h, tables, img... -->
    {{- $postPrefixElementsPath := "js/post-prefix-elements.js" }}
    {{- $postPrefixElements := resources.Get $postPrefixElementsPath | resources.ExecuteAsTemplate $postPrefixElementsPath . }}
    <!-- zoom on click on images -->
    {{- $postImageProcessorPath := "js/post-image-processor.js" }}
    {{- $postImageProcessor := resources.Get $postImageProcessorPath | resources.ExecuteAsTemplate $postImageProcessorPath . }}
    <!-- buttons in the post mode to on/off buttons for toc, hnum and tables coll -->
    {{- $postCustomizationButtonsPath := "js/post-customization-buttons.js" }}
    {{- $postCustomizationButtons := resources.Get $postCustomizationButtonsPath | resources.ExecuteAsTemplate $postCustomizationButtonsPath . }}
    
    <!-- script for cookie consent -->
    {{- $cookieConsentPath := "js/cookie-consent.js" }}
    {{- $cookieConsent := resources.Get $cookieConsentPath | resources.ExecuteAsTemplate $cookieConsentPath . }}
    
    <!-- custom script -->
    {{- $customScriptPath := "js/custom.js" }}
    {{ if (fileExists "../../assets/js/custom.js") }}
      {{ $customScriptPath := "../../assets/js/custom.js" }}
    {{ end }}
    {{- $custom := resources.Get $customScriptPath | resources.ExecuteAsTemplate $customScriptPath . }}

    <!-- bundle of js -->
    {{- $bundle := slice $vars $functions $navbarLangMenu $colorMode $hideNavbar $showAllTaxos $showSubscribeForm $postPrefixElements $postImageProcessor $postCustomizationButtons $cookieConsent $custom | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint "sha512" -}}
 
    <!-- preload assets declaration -->
    <link rel="preload" href="{{ $styles.Permalink }}" as="style"  integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous">
    <link rel="preload" href="{{ $bundle.Permalink }}" as="script" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous">

    <!-- styles file -->
    <link rel="stylesheet" type="text/css" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous">
    {{- with $s.customCSS }}
      {{- range . -}}
        <link rel="stylesheet" href="{{ relURL . }}">
      {{- end }}
    {{- end }}
    <!-- here were the partial hooks/head-end.html -->
  </head>

  <body id="documentTop">
    {{- partial "header" . }}
    <main>{{- block "main" . }}{{ end }}</main>
    {{- partial "footer" . }}
    <script type="text/javascript" src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
  </body>
</html>
