{{ define "main" }}
  <article class="post_content">
    <section>
      <div class="search_container">
        <img draggable=false src="/images/brand/search.jpg">
        <div class="search_header_title">{{ i18n "search_title" }}</div>
        <div class="search_header_by">
          <div> <a href="/categories/">{{ i18n "browse_by_cat" }}</a> </div>
          <div> <a href="/tags/">{{ i18n "browse_by_tags" }}</a> </div>
        </div>
        <input type="search" incremental="incremental" placeholder='{{ i18n "search_placeholder" }}' class="search_input" id="js-search-query"/>
        <div class="search_separator"></div>

        <div id="js-search-wait" class="search_loading">
          <div class="search_loading_img"></div>
          <!-- <img src="/images/theme/sail-waves-light.svg#velero"/> -->
          <div class="search_loading_text">~~~ Loading ~~~</div>
        </div>
        <div id="js-search-results"></div>
      </div>
    </section>
    <script src="{{ "js/search.js" | absURL }}"></script>
  </article>
  <!-- used for i18n -->
  <div class="nodisplay">
    <div id="i18n_foundInContent">{{ i18n "found_in_content" }}</div>
    <div id="i18n_foundInTitle">{{ i18n "found_in_title" }}</div>
    <div id="i18n_foundInDesc">{{ i18n "found_in_desc" }}</div>
    <div id="i18n_noMatch">{{ i18n "no_match" }}</div>
  </div>
{{ end }}