{{- define "main" }}
{{- $show_toc := (and .Params.toc (gt (len .TableOfContents) 80)) }}
{{- $pageTitle := .Title }}
<div class="wrap {{ if $show_toc }}post_frame_with_toc{{- else }}post_frame_without_toc{{ end }}">
  <article>
    <section>
      <div>
        {{- partial "post-custo" . }}
      </div>
      <div class="post_meta">
        <h1 class="text-left">{{ .Title }}</h1>
        <div class="post_translations">
          {{- partial "i18nlist" . }}
        </div>
        {{- partial "post-meta" . }}
        <!-- removed partial share, don't want those buttons in the post -->
        {{ if .Params.featureImage }}
          {{ with .Params.featureImage }}
            {{ if or (fileExists .) (fileExists (add "/static" .)) }}
              <img src="{{ . }}">
            {{ end }}
          {{ end }}
        {{ else }}
          {{- with .File }}
            {{ $pageDir := path.Base .Dir }}
            {{ if eq $pageDir .Section }}
              {{ $pageDir = .File.BaseFileName }}
            {{ end }}
            {{- if (os.FileExists (printf "static/images/thumbnails/%s.png" $pageDir) ) }}
              <img class="postcard_image" alt="{{ $pageTitle }}" src="/images/thumbnails/{{ $pageDir }}.png">
            {{- else if (os.FileExists (printf "static/images/thumbnails/%s.jpg" $pageDir) ) }}
              <img class="postcard_image" alt="{{ $pageTitle }}" src="/images/thumbnails/{{ $pageDir }}.jpg">
            {{- else if (os.FileExists (printf "static/images/posts/thumbnail-%s.jpg" $pageDir) ) }}
              <img class="postcard_image" alt="{{ $pageTitle }}" src="/images/posts/thumbnail-{{ $pageDir }}.jpg">
            {{- else if (os.FileExists (printf "static/images/posts/thumbnail-%s.png" $pageDir) ) }}
              <img class="postcard_image" alt="{{ $pageTitle }}" src="/images/posts/thumbnail-{{ $pageDir }}.png">
            {{- else }}
              <!-- nothing. -->
            {{- end }}
          {{- end }}
        {{ end }}
      </div>      
    </section>
    <section class="js-toc-content post_content" id="js-article-content">
      <div class="image_scale_back">
        <div class="image_scale_front"></div>
      </div>
      {{- .Content }}
    </section>
    <section>
    {{ if eq .Type "posts" }}
      <br>
      <br>
      <div class="post_bottom_wave"></div>
      <div class="post_bottom_comments">
        {{ if and ( ne .Site.Params.comment false ) ( ne .Params.comment false ) }}
          {{ partial "comments" . }}
        {{ end }}
      </div>
      <!-- removed the partial related posts -->
    {{ end }}
    </section>
  </article>

  {{ if $show_toc }}
    <aside class="sidebar">
      <section class="sidebar_inner">
        <div class="toc_sticky">
          <div class="js-toc" id="js-toc"></div>
          <div class="toc_endbar"></div>
        </div>
      </section>
    </aside>
  {{ end }}

</div>
{{- end }}