{{ $data := index .Site.Data .Site.Language.Lang }}
<div class="banner">
  <!-- empty div, image treated in the css from class. before it was img src directly -->
  <div class="banner_background"></div>
  <img draggable=false src="/images/brand/title.svg" alt="" class="banner_title">
  <div class="banner_quote"><h3>{{ $data.intro.quote }}</h3><h4>--{{ $data.intro.author }}</h4></div>
  <div class="banner_text"><p>{{ $data.intro.text }}</p></div>
  <div class="banner_punchline">{{ $data.intro.punchline }}</div>
</div>