{{- if .Site.Params.showCookieConsent }}
  <!-- content will be added if needed -->
  <div class="cookie_container nodisplay" id="cookie_container">
  </div>

  <!-- used only as a reference -->
  <div class="nodisplay" id="js-cookie-consent-content">
    <div>
      <div class="cookie_desc">
        {{- i18n "cookies_description" }}<a href="{{ .Site.Params.privacyPolicyPage }}" target="_blank"><br>{{- i18n "cookies_link_description" }}</a>
      </div>
    </div>
    <div class="cookie_button">
      <div id="js-cookie-consent-accept-button">{{ i18n "cookies_button" }}</div>
    </div>
  </div>
{{- end -}}