{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if and ($data) ($data.edito.title) }}
<section class="sidebar_inner">
    <div id="edito-section">
        <h2 class="sidebar_title">{{ i18n "edito" }}</h2>
        <p class="edito_title">{{ $data.edito.title | markdownify }}</p>
        <p class="edito_text">{{ $data.edito.text | markdownify }}</p>
        <p class="edito_conclusion">{{ $data.edito.conclusion | markdownify }}</p>
        <br>
        <br>
    </div>
</section>
{{- end }}