{{ if not .Draft }}
  <article class="postcard_container post">
    <a class="postcard_image" href="{{ .Permalink }}">
      {{ $pageTitle := .Title }}
      {{- with .Params.thumbnail }}
        <img class="postcard_image"
          alt="{{ $pageTitle }}"
          src="{{ if or (hasPrefix . "http") (hasPrefix . "https") }}{{ . }}{{ else }}{{ absURL . }}{{ end }}">
      {{- else }}
        {{- with .File }}
          {{ $pageDir := path.Base .Dir }}
          {{ if eq $pageDir .Section }}
            {{ $pageDir = .File.BaseFileName }}
          {{ end }}
          {{- if (os.FileExists (printf "static/images/thumbnails/%s.png" $pageDir) ) }}
            <img class="postcard_image" alt="{{ $pageTitle }}" src="/images/thumbnails/{{ $pageDir }}.png">
          {{- else if (os.FileExists (printf "static/images/thumbnails/%s.jpg" $pageDir) ) }}
            <img class="postcard_image" alt="{{ $pageTitle }}" src="/images/thumbnails/{{ $pageDir }}.jpg">
          {{- else if (os.FileExists (printf "static/images/posts/thumbnail-%s.jpg" $pageDir) ) }}
            <img class="postcard_image" alt="{{ $pageTitle }}" src="/images/posts/thumbnail-{{ $pageDir }}.jpg">
          {{- else if (os.FileExists (printf "static/images/posts/thumbnail-%s.png" $pageDir) ) }}
            <img class="postcard_image" alt="{{ $pageTitle }}" src="/images/posts/thumbnail-{{ $pageDir }}.png">
          {{- else }}
            <img class="postcard_image"
              alt="{{ $pageTitle }}"
              src="/images/thumbnail.png">
          {{- end }}
        {{- end }}
      {{- end }}
    </a>
    <div class="postcard_text">
      <div class="postcard_text_excerpt">
        <h2 class="postcard_text_excerpt_title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <a href="{{ .Permalink }}">
          <section class="postcard_text_excerpt_desc">
            <p>
              {{ if .Description }}
                {{ truncate 260 .Description | markdownify }}
              {{ else }}
                {{ truncate 260 .Summary }}
              {{ end }}
            </p>
          </section>
        </a>
      </div>
      <footer class="postcard_text_meta">
        <div class="postcard_text_meta_author">
          {{- if .Params.Author }}
            {{ i18n "author" }}:
            <a href="/about/">{{ .Params.Author }}</a>
          {{ else }}
            &nbsp;
          {{- end }}
        </div>
        <div>
          <!-- {{ partial "sprite" (dict "icon" "calendar") }} -->
          <span class="postcard_text_meta_date">
            {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
          </span>
          <span class="margin-right-1 margin-left-1">|</span>
          <span class="postcard_text_meta_reading_time">{{ .ReadingTime }} {{ i18n "reading_time_excerpt" }}</span>
        </div>
        <div class="postcard_text_meta_container_cat">
          <!-- removed  class="post_meta" from div -->
          <!-- added limit of categories -->
          {{- $catsLimit := default 3 .Site.Params.numberOfCategoriesInCard }}
          {{- $cats := .Params.categories }}
          {{- if gt $cats 0 }}
            {{- $slicedCats := ($cats | first $catsLimit) }}
            {{- range $slicedCats }}
              {{- $cat := urlize . }}
              <a href='{{ absLangURL (printf "categories/%s" $cat) }}' class="category_label">
                {{- . }}
              </a>
            {{- end }}
          {{- end }}
        </div>
        <div class="postcard_text_meta_container_tag">
          <!-- removed  class="post_meta" from div -->
          <!-- added limit of categories -->
          {{- $tagsLimit := default 6 .Site.Params.numberOfTagsInCard }}
          {{- $tags := .Params.tags }}
          {{- if gt $tags 0 }}
            {{- $slicedTags := ($tags | first $tagsLimit) }}
            {{- range $slicedTags }}
              {{- $tag := urlize . }}
              <a href='{{ absLangURL (printf "tags/%s" $tag) }}' class="tag_label">
                {{- . }}
              </a>
            {{- end }}
          {{- end }}
        </div>
        <div class="margin-bottom-1"></div>
      </footer>
    </div>
  </article>
{{end}}