<link rel="apple-touch-icon" sizes="180x180" href='{{ absURL "icons/favicon-apple-touch-icon.png" }}'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ absURL "icons/favicon-32x32.png" }}'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ absURL "icons/favicon-16x16.png" }}'>
<link rel="manifest" href='{{ absURL "icons/site.webmanifest" }}'>
<link rel="mask-icon" href='{{ absURL "icons/favicon-safari-pinned-tab.svg" }}' color="#002538">
<meta name="msapplication-TileColor" content="#0077b8">