<div class="privacy-policy">
  <a href="{{ absLangURL "privacy-policy" }}" target="_blank"><span>Privacy<br/>Policy</span></a>
  <a href="{{ absLangURL "privacy-policy" }}" target="_blank">{{ partial "sprite" (dict "icon" "privacy") }}</a>
</div>
