{{- $items := .Site.Data.social }}
<div class='follow'>
  {{- range $items }}
  {{- $url := .url }}
  {{- if .internal }}
    {{ $url = absLangURL .url }}
  {{- end }}
  <a href="{{ $url }}" target="_blank">
    {{ partial "sprite" (dict "icon" .item) }}
  </a>
  {{- end }}
</div>
