<footer class="footer">
  <!-- gives the svg icons for social and privacy -->
  {{- partial "icons" }}
  <div class="footer_inner">
    <p>{{ i18n "copyright" }} &copy;&nbsp;<span class="year">{{ now.Format "2006"}}</span>&nbsp;{{ .Site.Title }}. {{ i18n "all_rights"}}.
      {{- if .Site.Params.copyRightExtended }}
        {{ .Site.Params.copyRightExtended | markdownify }}
      {{- end }}
    </p>
    <!-- link to privacy page -->
    {{- partial "footer-privacy" . }}

    <!-- follow me icons, git etc -->
    {{- partial "footer-follow" . }}

    <!-- shows the to top arrow -->
    {{- partial "to_top" .}}
  </div>
  <!-- shows cookie consent -->
  {{- partial "cookie-consent" .}}
</footer>

<!-- to create the toc -->
{{- partial "tocbot" .}}
