{{- $menu := .menu }}
{{ $menuData := .context.Site.Data.menu }}
{{- $link := .context.Permalink }}
{{- $url := "" }}
{{- $name := "" }}
{{- $children := false }}
{{- range $menu }}
  {{- $children = .Children }}
  {{- $name = .Name }}
  {{- $url = absLangURL .URL }}
  <div class="nav_parent{{ if in $link $url }} nav_active{{ end}}">
    <a href="{{ $url }}" class="nav_item">{{ $name | markdownify }}</a>
    {{- with $children }}
      <div class="nav_sub">
      <span class="nav_child"></span>
      {{- range . }}
        {{- if eq $menu $menuData }}
          {{- $name = .name }}
          {{- $url = absURL .link }}
        {{- else }}
          {{- $name = .Name }}
          {{- $url = absLangURL .URL }}
        {{- end }}
        <a href="{{ $url }}" class="nav_child nav_item">{{ $name | markdownify  }}</a>
      {{- end }}
    </div>
    {{- end }}
  </div>
{{- end }}