{{- $params := .Site.Params }}
{{ $logoIcon := $params.logoIcon }}
{{ $logoTitle := $params.logoTitle }}
<header id="top-navbar" class="nav_header" >
  <nav class="nav">
    <a href='{{ absLangURL "" }}' class="nav_brand nav_item">
      {{- if $logoIcon }}
        <img draggable=false alt="{{ $params.Title }}" src="{{ absURL $logoIcon }}" class="logo">
      {{- else }}
        <img draggable=false alt="{{ $params.Title }}" src='{{ absURL "/images/brand/icon.svg" }}' class="logo">
      {{- end }}
      {{- if $logoTitle }}
        <img draggable=false alt="{{ $params.Title }}" src="{{ absURL $logoTitle }}" class="title">
      {{- else }}
        <img draggable=false alt="{{ $params.Title }}" src='{{ absURL "/images/brand/title.svg" }}' class="title">
      {{- end }}
    </a>
    <!-- add some space between logo and menus -->
    <div class="margin-left-1"></div>
    <!-- navigation menus -->
    <div class='nav_body'>
      {{ $context := . }}
      {{ partial "header-nav" (dict "context" . "menu" .Site.Menus.main) }}
      {{ if .Site.IsMultiLingual }}
        {{- $languageMenuName := default "🌐" .Site.Params.languageMenuName }}
        <div class="nav_parent">
          <a href="#" class="nav_item js-nav-lang-elem">{{ $languageMenuName }}</a>
          <div class="nav_sub nav_hide">
            <span class="nav_child"></span>
            {{ range .Site.Home.AllTranslations }}
              <a href="{{ .Permalink }}" class="nav_child nav_item">{{ .Language.LanguageName }}</a>
            {{ end }}
          </div>
        </div>
      {{ end }}

      <!-- search bar -->
      <!-- WIP -->
      <!-- <div class="fastsearch" id="fastSearch">
        <input id="searchInput" tabindex="0">
        <ul class="fastsearch_results" id="searchResults">
        </ul>
      </div>
      <script src="/js/fuse.min.js"></script>
      <script src="/js/fastsearch.js"></script> -->
      <!-- /WIP -->

    </div>
    <div class="nav_item">
      {{- partial "color-mode" . }}
    </div>
  </nav>
</header>