{{- $params := .Site.Params }}
{{- $separator := default "|" $params.titleSeparator }}

{{- $title := "" }}
{{- if and .Title (ne (trim (lower .Site.Title) "") (trim (lower .Title) "")) }}
  {{- if eq .Kind "taxonomy" }}
    {{- $title = default .Title ( i18n (lower .Title) ) }}
  {{- else }}
    {{- $title = .Title }}
  {{- end }}
{{- end }}
<title>{{ with $title }}{{ . }} {{ $separator }} {{ end }}{{ .Site.Title }}</title>
<meta charset="utf-8">
<meta name="theme-color" content="#0077b8" />
<meta name="description" content="{{ $params.Description }}" />
{{ hugo.Generator }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- removing analytics because adblockers, firefox and chrome blocks it. -->

{{- partial "favicon" . }}
<link rel="canonical" href="{{ .Permalink }}">