<svg width="0" height="0" class="nodisplay">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.001 18.001" id="twitter">
    <path d="M15.891 4.013c.808-.496 1.343-1.173 1.605-2.034a8.68 8.68 0 0 1-2.351.861c-.703-.756-1.593-1.14-2.66-1.14-1.043 0-1.924.366-2.643 1.078a3.56 3.56 0 0 0-1.076 2.605c0 .309.039.585.117.819-3.076-.105-5.622-1.381-7.628-3.837-.34.601-.51 1.213-.51 1.846 0 1.301.549 2.332 1.645 3.089-.625-.053-1.176-.211-1.645-.47 0 .929.273 1.705.82 2.388a3.623 3.623 0 0 0 2.115 1.291c-.312.08-.641.118-.979.118-.312 0-.533-.026-.664-.083.23.757.664 1.371 1.291 1.841a3.652 3.652 0 0 0 2.152.743C4.148 14.173 2.625 14.69.902 14.69c-.422 0-.721-.006-.902-.038 1.697 1.102 3.586 1.649 5.676 1.649 2.139 0 4.029-.542 5.674-1.626 1.645-1.078 2.859-2.408 3.639-3.974a10.77 10.77 0 0 0 1.172-4.892v-.468a7.788 7.788 0 0 0 1.84-1.921 8.142 8.142 0 0 1-2.11.593z"></path>
  </symbol>
  <symbol aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="mail">
    <path  d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="calendar">
    <path d="M452 40h-24V0h-40v40H124V0H84v40H60C26.916 40 0 66.916 0 100v352c0 33.084 26.916 60 60 60h392c33.084 0 60-26.916 60-60V100c0-33.084-26.916-60-60-60zm20 412c0 11.028-8.972 20-20 20H60c-11.028 0-20-8.972-20-20V188h432v264zm0-304H40v-48c0-11.028 8.972-20 20-20h24v40h40V80h264v40h40V80h24c11.028 0 20 8.972 20 20v48z"></path>
    <path d="M76 230h40v40H76zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zM76 310h40v40H76zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zM76 390h40v40H76zm80 0h40v40h-40zm80 0h40v40h-40zm80 0h40v40h-40zm80-80h40v40h-40z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="gitlab">
    <path d="M83,112h90l22.61071-60.29524a4,4,0,0,1,7.61026.37384l27.32935,102.4851a8,8,0,0,1-3.1762,8.63883l-94.82044,65.64492a8,8,0,0,1-9.10736,0L28.62588,163.20255a8,8,0,0,1-3.1762-8.63883L52.779,52.07862a4,4,0,0,1,7.61026-.37384Z"></path>
  </symbol>
  <symbol viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="rss">
    <circle cx="3.429" cy="20.571" r="3.429"></circle>
    <path d="M11.429 24h4.57C15.999 15.179 8.821 8.001 0 8v4.572c6.302.001 11.429 5.126 11.429 11.428z"></path>
    <path d="M24 24C24 10.766 13.234 0 0 0v4.571c10.714 0 19.43 8.714 19.43 19.429z"></path>
  </symbol>
  <symbol viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" id="linkedin">
    <path d="M437 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h362c41.352 0 75-33.648 75-75V75c0-41.352-33.648-75-75-75zM181 406h-60V196h60zm0-240h-60v-60h60zm210 240h-60V286c0-16.54-13.46-30-30-30s-30 13.46-30 30v120h-60V196h60v11.309C286.719 202.422 296.93 196 316 196c40.691.043 75 36.547 75 79.688zm0 0"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612" id="arrow">
    <path d="M604.501 440.509L325.398 134.956c-5.331-5.357-12.423-7.627-19.386-7.27-6.989-.357-14.056 1.913-19.387 7.27L7.499 440.509c-9.999 10.024-9.999 26.298 0 36.323s26.223 10.024 36.222 0l262.293-287.164L568.28 476.832c9.999 10.024 26.222 10.024 36.221 0 9.999-10.023 9.999-26.298 0-36.323z"></path>
  </symbol>
  <symbol viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="copy">
    <path d="M23 2.75A2.75 2.75 0 0 0 20.25 0H8.75A2.75 2.75 0 0 0 6 2.75v13.5A2.75 2.75 0 0 0 8.75 19h11.5A2.75 2.75 0 0 0 23 16.25zM18.25 14.5h-7.5a.75.75 0 0 1 0-1.5h7.5a.75.75 0 0 1 0 1.5zm0-3h-7.5a.75.75 0 0 1 0-1.5h7.5a.75.75 0 0 1 0 1.5zm0-3h-7.5a.75.75 0 0 1 0-1.5h7.5a.75.75 0 0 1 0 1.5z"></path>
    <path d="M8.75 20.5a4.255 4.255 0 0 1-4.25-4.25V2.75c0-.086.02-.166.025-.25H3.75A2.752 2.752 0 0 0 1 5.25v16A2.752 2.752 0 0 0 3.75 24h12a2.752 2.752 0 0 0 2.75-2.75v-.75z"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="readingtime">
    <path d="M251.23 448H70.775a150.443 150.443 0 0 0 32.265-93.54V64h278.395v153.172a8 8 0 0 0 16 0V56a7.998 7.998 0 0 0-8-8H95.039a7.998 7.998 0 0 0-8 8v298.46a134.713 134.713 0 0 1-39.71 95.884A8 8 0 0 0 52.983 464H251.23a8 8 0 0 0 0-16Z"/>
    <path d="M333.996 148.766h-183.52a8 8 0 0 0 0 16h183.52a8 8 0 0 0 0-16Zm8 62.203a7.998 7.998 0 0 0-8-8h-183.52a8 8 0 1 0 0 16h183.52a7.998 7.998 0 0 0 8-8Zm-79.766 54.203a7.998 7.998 0 0 0-8-8H150.478a8 8 0 0 0 0 16H254.23a7.998 7.998 0 0 0 8-8Zm-111.753 46.203a8 8 0 1 0 0 16h65.253a8 8 0 0 0 0-16Zm286.25-23.915a103.32 103.32 0 0 0-174.936 55.413l-6.357-6.357a8 8 0 0 0-11.313 11.312l18.409 18.408a8.026 8.026 0 0 0 11.323 0l18.413-18.408a8 8 0 0 0-11.313-11.312l-1.817 1.816a87.338 87.338 0 1 1 22.657 84.066 8 8 0 0 0-11.312 11.313 103.413 103.413 0 0 0 146.246-146.25Z"/>
    <path d="M363.606 291.32a7.998 7.998 0 0 0-8 8v61.266a8.115 8.115 0 0 0 2.35 5.664l28.993 28.992a8 8 0 0 0 11.313-11.312l-26.656-26.656V299.32a7.998 7.998 0 0 0-8-8Z"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" id="pencil">
    <path d="M358.594 1.835c-30.468 8.447-72.554 36.172-123.438 81.316-45.466 40.337-83.715 84.48-106.234 122.606l-3.874 6.559-7.641.312c-14.759.602-26.052 8.823-31.483 22.919-2.052 5.325-2.547 17.714-.871 21.788.51 1.241.83 2.32.711 2.398-.119.078-14.455 7.99-31.858 17.582-32.03 17.656-35.185 19.669-36.626 23.363-2.09 5.361-17.428 85.781-17.071 89.505C.764 395.962 5.254 400 11.124 400c4.197 0 84.38-15.676 88.213-17.246 3.681-1.508 5.414-4.21 23.397-36.497 11.619-20.861 18.081-31.71 18.779-31.532 23.645 6.043 44.924-8.739 45.853-31.852l.302-7.538 9.63-5.26c10.725-5.86 22.877-13.784 31.354-20.448l5.605-4.406 2.989 1.512c9.064 4.586 21.137 4.167 31.712-1.1 4.695-2.339 92.805-89.795 97.478-96.755 10.258-15.278 13.281-36.301 7.537-52.408l-1.12-3.139 5.038-8.189C404.184 42.4 407.13 12.468 386.049 2.24c-5.568-2.702-18.482-2.893-27.455-.405m17.187 26.37c0 8.636-8.592 28.023-21.59 48.714-8.2 13.053-8.596 14.824-5.102 22.785 4.695 10.697 4.684 20.901-.033 30.7-2.796 5.81-86.274 90.817-92.189 93.877-8.613 4.457-17.654-2.622-15.872-12.428.455-2.5 6.131-8.493 44.155-46.619 38.668-38.772 43.732-44.127 44.506-47.07 2.593-9.862-7.143-18.046-16.595-13.95-4.658 2.019-90.647 89.198-92.936 94.224-3.712 8.145-4.596 17.545-2.501 26.57.677 2.917-12.609 12.775-31.292 23.217l-10.152 5.674-14.681-14.645c-8.884-8.861-14.563-15.107-14.382-15.816.463-1.808 12.214-20.505 18.796-29.907C215.441 122.787 334.75 24.834 372.07 24.274l3.711-.055v3.986M143.203 256.113c15.541 15.506 19.552 19.93 20.004 22.07 1.686 7.975-5.128 15.086-13.063 13.631-3.71-.68-40.182-36.497-41.629-40.882-2.393-7.25 3.174-14.204 11.375-14.21l3.875-.003 19.438 19.394m-32.338 33.268c6.685 6.701 9.526 10.069 9.203 10.912-.618 1.61-32.585 59.303-33.277 60.056-.473.515-34.317 7.62-36.296 7.62-.427 0 4.356-5.204 10.628-11.564 13.379-13.566 15.233-18.166 10.131-25.137-6.327-8.643-13.26-6.588-28.481 8.442-5.908 5.835-10.742 10.251-10.742 9.814 0-1.584 7.035-35.725 7.446-36.136.856-.856 60.16-33.62 60.925-33.659.436-.023 5.145 4.32 10.463 9.652" fill-rule="evenodd"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="hourglass">
    <path d="M302.519 239.31c19.645 -4.485 37.39 -15.634 49.972 -31.403 12.562 -15.774 19.481 -35.557 19.481 -55.705V97.535h19.5c8.977 0 16.255 -7.278 16.255 -16.255V16.255c0 -8.977 -7.278 -16.255 -16.255 -16.255H120.53c-8.977 0 -16.255 7.278 -16.255 16.255v65.025c0 8.977 7.278 16.255 16.255 16.255h19.5v54.668c0 20.161 6.92 39.945 19.485 55.707 12.568 15.765 30.314 26.917 49.969 31.402a13.199 13.199 0 0 1 7.379 4.636 13.072 13.072 0 0 1 2.88 8.234v7.64c0 6.201 -4.218 11.492 -10.258 12.869 -19.661 4.485 -37.408 15.636 -49.97 31.399 -12.565 15.763 -19.484 35.548 -19.484 55.71v54.668h-19.5c-8.977 0 -16.255 7.278 -16.255 16.255v65.025c0 8.977 7.278 16.255 16.255 16.255h270.941c8.977 0 16.255 -7.278 16.255 -16.255v-65.025c0 -8.977 -7.278 -16.255 -16.255 -16.255h-19.5v-54.668c0 -20.16 -6.921 -39.944 -19.489 -55.708 -12.569 -15.764 -30.313 -26.916 -49.971 -31.402a13.11 13.11 0 0 1 -7.383 -4.634 13.077 13.077 0 0 1 -2.88 -8.235v-7.64c-0.001 -6.2 4.22 -11.492 10.271 -12.872zM136.785 32.509h238.432v32.516H136.785V32.509zm202.677 65.025v41.525c-54.289 15.789 -112.632 15.79 -166.923 0.002V97.535h166.923zm35.754 381.956H136.785v-32.516h238.432v32.516zM172.538 414.465v-15.069l83.465 -32.227 83.458 32.228v15.067H172.538zm122.745 -110.081c26.012 5.937 44.178 28.723 44.178 55.413v16.367l-79.555 -30.72a10.826 10.826 0 0 0 -7.807 0l-79.561 30.719v-16.367a57.083 57.083 0 0 1 12.396 -35.446c7.99 -10.023 19.276 -17.114 31.778 -19.966 19.823 -4.52 33.975 -21.207 35.41 -41.205 1.288 0.074 2.578 0.124 3.869 0.124 1.294 0 2.587 -0.05 3.879 -0.125a45.927 45.927 0 0 0 9.849 25.156c6.442 8.063 15.524 13.763 25.563 16.05zm-34.257 -63.043c-3.357 0.368 -6.74 0.367 -10.094 -0.001 -1.568 -6.408 -4.501 -12.459 -8.639 -17.645 -6.417 -8.069 -15.501 -13.779 -25.577 -16.078 -22.836 -5.21 -39.621 -23.411 -43.38 -45.839a321.237 321.237 0 0 0 82.661 10.802c27.832 0 55.663 -3.607 82.643 -10.797 -1.618 9.404 -5.588 18.352 -11.57 25.861 -8.001 10.027 -19.289 17.121 -31.782 19.973 -17.297 3.943 -30.274 17.147 -34.262 33.725z" />
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 288.095" id="category">
    <path d="M31.632 20.238C4.194 27.639 1.881 65.422 28.225 75.899c21.888 8.705 44.608-11.108 39.195-34.178-3.605-15.362-20.618-25.575-35.788-21.483m93.264.015c-28.731 7.767-28.995 47.952-.372 56.728 4.457 1.367 239.829 1.367 244.286 0 27.227-8.348 29.109-45.015 2.857-55.673l-3.81-1.546-120.238-.09c-102.197-.077-120.611.011-122.723.581m-90.571 97.896c-22.02 3.325-32.275 29.906-18.258 47.327 13.459 16.729 39.979 13.67 49.229-5.679 10.123-21.176-7.712-45.16-30.971-41.648m93.952-.058c-30.709 4.547-34.242 47.03-4.743 57.033l3.847 1.305H246.19c131.319 0 120.873.263 128.047-3.226 23.989-11.665 20.374-46.449-5.666-54.516-2.807-.87-234.562-1.444-240.294-.596m-96.261 99.02c-15.753 3.87-25.522 19.94-21.553 35.456 5.675 22.188 32.965 29.777 49.09 13.652 20.792-20.792.986-56.116-27.537-49.108m96.317-.592c-28.699 3.872-34.562 43.138-8.302 55.601 5.855 2.778-.121 2.66 128.316 2.527l119.51-.123 3.81-1.546c26.185-10.628 24.494-46.568-2.619-55.67-2.444-.82-234.836-1.582-240.715-.789" fill-rule="evenodd"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="tag">
    <path d="M327.113 76.48c-16.64 16.64-16.64 43.627 0 60.373 8 8 18.88 12.48 30.187 12.48 23.573 0 42.667-19.093 42.667-42.667 0-11.307-4.48-22.187-12.48-30.187-16.108-16.106-44.268-16.106-60.374.001zm45.866 44.8-.533.533c-8.427 8.107-21.76 8.107-30.187 0-8.427-8.427-8.427-21.867 0-30.187 8.213-8.427 21.653-8.747 30.187-.533s8.747 21.654.533 30.187z"/>
    <path d="M495.433 139.627 453.299 15.36v-4.693C453.299 4.8 448.5 0 442.633 0h-139.84c-2.88 0-5.547 1.173-7.573 3.093L26.313 272.213c-13.76 14.4-13.76 37.013 0 51.413L130.42 427.093c3.947 3.84 8.64 6.72 13.867 8.427.533 3.307 2.56 6.187 5.547 7.68l131.733 65.173c17.28 8.533 38.293 1.387 46.827-15.893.107-.107.107-.213.213-.427l.533-1.067 113.493 10.347c16.107 0 32-15.253 32-30.933V192a50.896 50.896 0 0 1-.32-1.707l20.587-42.667c1.28-2.453 1.386-5.439.533-7.999zm-349.974 272.32L41.353 308.48c-5.44-5.973-5.44-15.147 0-21.12L307.166 21.333h124.8v126.4L165.619 411.947a14.492 14.492 0 0 1-20.16 0zm307.84 58.453c0 3.307-5.653 9.6-9.707 9.6l-104.64-9.493 114.347-236.693V470.4zm-143.893 12.373c-1.6 3.413-4.48 5.973-8 7.147-3.413 1.173-7.147.96-10.347-.64l-116.16-57.6c2.133-1.387 4.053-2.88 5.76-4.693l269.44-267.307c2.027-2.027 3.2-4.693 3.2-7.573V81.813l20.48 60.48-164.373 340.48z"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="serie">
    <path d="M98.96 165.815H52.158a5.356 5.356 0 0 0 -5.356 5.356v292.509a5.356 5.356 0 0 0 5.356 5.356h46.802a5.356 5.356 0 0 0 5.356 -5.356V171.171a5.356 5.356 0 0 0 -5.356 -5.356zm-5.356 292.509H57.513V176.526h36.091v281.798zM80.914 71.213v47.799h18.045a5.356 5.356 0 0 1 0 10.711H52.158a5.356 5.356 0 0 1 0 -10.711h18.045V71.213H52.158a5.356 5.356 0 0 1 0 -10.711h46.802a5.356 5.356 0 0 1 0 10.711H80.914zm-10.711 369.066v-11.595a5.356 5.356 0 0 1 10.711 0v11.595a5.356 5.356 0 0 1 -10.711 0zm0 -43.749v-201.972a5.356 5.356 0 0 1 10.711 0v201.972a5.356 5.356 0 0 1 -10.711 0zm169.161 -230.715h-46.802a5.356 5.356 0 0 0 -5.356 5.356v292.509a5.356 5.356 0 0 0 5.356 5.356h46.802a5.356 5.356 0 0 0 5.356 -5.356V171.171a5.356 5.356 0 0 0 -5.356 -5.356zm-5.356 292.509h-36.091V176.526h36.091v281.798zm5.356 -387.112a5.356 5.356 0 0 0 0 -10.711h-46.802a5.356 5.356 0 0 0 0 10.711h6.344v47.799h-6.344a5.356 5.356 0 0 0 0 10.711h46.802a5.356 5.356 0 0 0 0 -10.711h-6.344V71.213h6.344zm-17.056 47.799h-12.69V71.213h12.69v47.799zm-11.7 321.267v-11.595a5.356 5.356 0 0 1 10.711 0v11.595a5.356 5.356 0 0 1 -10.711 0zm0 -43.749v-201.972a5.356 5.356 0 0 1 10.711 0v201.972a5.356 5.356 0 0 1 -10.711 0zm301.297 76.233L428.335 12.244a5.35 5.35 0 0 0 -2.219 -3.446 5.366 5.366 0 0 0 -4.006 -0.868L291.522 31.628v-0.879a5.356 5.356 0 0 0 -5.356 -5.356H5.356a5.356 5.356 0 0 0 -5.356 5.356v468.041a5.356 5.356 0 0 0 5.356 5.356h280.812a5.356 5.356 0 0 0 5.356 -5.356V104.661l71.696 395.084a5.356 5.356 0 0 0 6.225 4.312l138.149 -25.07a5.356 5.356 0 0 0 4.312 -6.224zM10.711 36.105h129.695v457.33H10.711V36.105zm270.099 457.33H151.117V36.105h128.903a5.328 5.328 0 0 0 -0.372 3.122l1.163 6.41v447.798zm91.99 -0.871L291.522 44.673v-2.158l127.231 -23.088 81.658 449.981 -127.61 23.157zm28.332 -338.11 -46.05 8.356a5.35 5.35 0 0 0 -3.446 2.219 5.361 5.361 0 0 0 -0.868 4.006l52.228 287.809a5.35 5.35 0 0 0 6.226 4.312l46.05 -8.357a5.356 5.356 0 0 0 4.313 -6.225l-52.228 -287.809c-0.529 -2.909 -3.325 -4.844 -6.226 -4.311zm11.448 295.209 -50.316 -277.27 35.51 -6.444 50.316 277.269 -35.51 6.445zm-17.892 -330.721 11.513 -2.089a5.356 5.356 0 0 0 -1.912 -10.54l-6.243 1.133 -8.535 -47.031 6.243 -1.133a5.356 5.356 0 0 0 -1.912 -10.54L324.767 61.278a5.356 5.356 0 0 0 1.912 10.54l6.243 -1.133 8.535 47.03 -6.243 1.133a5.356 5.356 0 0 0 1.912 10.54l57.561 -10.446 0.002 -0.001zm-7.182 -9.583 -12.486 2.265 -8.535 -47.031 12.486 -2.265 8.535 47.031zm-44.046 -40.586 12.486 -2.265 8.535 47.03 -12.486 2.265 -8.535 -47.03zm45.049 117.185 43.873 241.772a5.356 5.356 0 0 1 -10.539 1.913l-43.873 -241.772a5.356 5.356 0 0 1 4.313 -6.225 5.351 5.351 0 0 1 6.225 4.312z"/>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 475" id="privacy">
    <path d="M249.25 234.15c27.25 0 49.4 -21.75 49.4 -48.55 0 -26.8 -22.1 -48.55 -49.4 -48.55 -27.25 0 -49.4 21.75 -49.4 48.55s22.1 48.55 49.4 48.55z" />
    <path d="M312.8 328.55c-18.9 10.35 -40.55 16.2 -63.6 16.2 -73.35 0 -133 -59.65 -133 -133s59.65 -133 133 -133 133 59.65 133 133c0 5.9 -0.4 11.75 -1.15 17.5 5.1 -0.95 10.4 -1.45 15.75 -1.45 11.9 0 23.2 2.45 33.5 6.85 0.2 -4.9 0.35 -10.1 0.4 -15.8v-0.35l0.45 -56.75v-1.85l-0.1 -20.15V83.85c0 -8.45 -3.3 -19 -18.9 -21 -3.3 -0.45 -6.65 -0.8 -9.85 -1.2 -10.1 -1.15 -19.6 -2.25 -28.85 -4.35 -36.1 -8.05 -70.7 -24.15 -109.05 -50.85C259.25 2.9 255.15 0 249.3 0s-10.1 2.95 -15 6.35C183 41.75 136.6 59.75 88.4 62.7c-14.75 0.95 -21.1 7.75 -21.1 22.75v36.35c-0.1 33.6 -0.1 68.35 0.25 102.55 0.1 12.05 1.65 24.5 4.55 37.15 6.7 29.4 22.15 56 47.2 81.2 31.85 32.1 71.75 56.95 122.2 75.95 2.25 0.85 4.9 1.3 7.6 1.3 3.3 0 6.8 -0.7 9.7 -2 2.95 -1.3 5.95 -2.55 8.9 -3.85 12.4 -5.3 25.1 -10.8 37.4 -17.25 12.35 -6.5 23.75 -13.4 34.3 -20.65 -13.65 -12.3 -23.2 -28.9 -26.6 -47.65z" />
    <path d="M321.85 272.3c-11.45 -15.95 -30.35 -26.4 -51.7 -26.4h-41.9c-29.5 0 -54.4 20 -61.3 46.95 20.95 21.25 50.05 34.4 82.25 34.4 22.95 0 44.35 -6.7 62.3 -18.25 0.65 -13.25 4.35 -25.7 10.35 -36.7zm75 -27.05c-37.45 0 -67.9 30.45 -67.9 67.9s30.45 67.9 67.9 67.9 67.9 -30.45 67.9 -67.9 -30.45 -67.9 -67.9 -67.9zM437 297.7 386.65 348.1c-0.55 0.55 -1.3 0.85 -2 0.85 -0.75 0 -1.45 -0.3 -2 -0.85l-27.95 -27.95c-1.1 -1.1 -1.1 -2.9 0 -4l9.35 -9.35c1.1 -1.1 2.9 -1.1 4 0l16.6 16.6 39 -39c1.1 -1.1 2.9 -1.1 4 0l9.35 9.35c0.55 0.55 0.85 1.25 0.85 2 0 0.7 -0.3 1.4 -0.85 1.95z" />
  </symbol>

</svg>
