{{ $pages := .Pages }}
{{ if .IsHome }}
  {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}
<div class="grid-ui content">
  <div>
    {{- if eq .IsHome false }}
      {{- if eq .Kind "term"}}
        <!-- case of list of posts having tag/series/category -->
        {{- if eq .Section "series" }}
          <div class="page_posts_of_taxo">{{ i18n "title_matching_series" }}&nbsp;<span class="series_label font-size-1rem">{{ .Title }}</span></div>
        {{- end }}
        {{- if eq .Section "categories" }}
          <div class="page_posts_of_taxo">{{ i18n "title_matching_categories" }}&nbsp;<span class="category_label font-size-1rem">{{ .Title }}</span></div>
        {{- end }}
        {{- if eq .Section "tags" }}
          <div class="page_posts_of_taxo">{{ i18n "title_matching_tags" }}&nbsp;<span class="tag_label font-size-1rem">{{ .Title }}</span></div>
        {{- end }}
      {{- else if eq .Kind "section"}}
        <!-- why need a title for obvious category posts... -->
      {{- else if eq .Kind "taxonomy"}}
        <!-- the list of tags, categories... -->
        <!-- <h1 class="page_title">{{ .Title }}</h1> -->
        <div class="page_posts_of_taxo">{{ .Title }}</div>
      {{- else }}
        <h1 class="page_title">{{ .Title }}</h1>
      {{- end }}
      <p class="page_description">{{ .Description }}</p>
    {{- end }}

    <!-- for what is used?! -->
    <!-- {{ .Content }} -->

    <!-- if this is taxonomy page, which lists the tags/categories/series -->
    {{- if eq .Kind "taxonomy" }}
      <div class="page_taxos">
        {{ if eq .Title (i18n "series") }}
          {{- range .Pages }}
          <a href='{{ absLangURL "categories" }}/{{ (replace .Name "#" "%23") | urlize }}/'>
            <span class="series_label">{{ upper .Name }} </span>
          </a>
          {{- end }}
        {{ else if eq .Title (i18n "categories") }}
          {{- range .Pages }}
          <a href='{{ absLangURL "categories" }}/{{ (replace .Name "#" "%23") | urlize }}/'>
            <span class="category_label">{{ upper .Name }} </span>
          </a>
          {{- end }}
        {{ else if eq .Title (i18n "tags") }}
          {{- range .Pages }}
          <a href='{{ absLangURL "categories" }}/{{ (replace .Name "#" "%23") | urlize }}/'>
            <span class="tag_label">{{ upper .Name }} </span>
          </a>
          {{- end }}
        {{ end }}
      </div>
    {{- else }}
      <!-- this should be a list of posts -->
      <ul class="posts" id="posts">
        <div class="paginate_feed" data-infinite-scroll='{ "path": ".paginate_next_page_button", "append": ".postcard_container", "history": false, "hideNav": ".paginate_wrapper" }'>
          {{- range (.Paginate $pages).Pages }}
            {{ partial "excerpt" . }}
          {{- end }}
          {{ $paginator := .Paginator }}
        </div>
        <li class="paginate_wrapper">
          {{ if $paginator.HasNext }}
            <a class="paginate_next_page_button" href="{{ $paginator.Next.URL }}">
              Next Page
            </a>
          {{ end }}
        </li>
      </ul>
    {{- end }}
  </div>
  {{- partial "sidebar" . }}
</div>
<script src="/js/infinite-scroll.pkgd.min.js"></script>
<!-- script to be refreshed, if needed -->
<!-- <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script> -->
