{{- $show_toc := (and .Params.toc (gt (len .TableOfContents) 80)) }}
<div class="post_header_controls">
  <div class="post_header_controls_div">
    <span class="post_header_label">{{ i18n "toggle_hnumbering" }}</span>
    <div class="post_header_button_mode">
      <input type="checkbox" class="js-button-show-numbering post_header_button_choice" id="hnum">
      <label for="mode" class="nodisplay">Numbered heading</label>
    </div>
  </div>
  <div class="post_header_controls_div">
    {{ if $show_toc }}
    <span class="post_header_label">{{ i18n "toggle_toc" }}</span>
    <div class="post_header_button_mode">
      <input type="checkbox" class="js-button-show-toc post_header_button_choice" id="shtoc">
      <label for="mode" class="nodisplay">Show ToC</label>
    </div>
    {{ end }}
  </div>
  <div class="post_header_controls_div">
    <span class="post_header_label">{{ i18n "toggle_table_collapse" }}</span>
    <div class="post_header_button_mode">
      <input type="checkbox" class="js-button-collapse-table post_header_button_choice" id="coltab">
      <label for="mode" class="nodisplay">Collapse Tables</label>
    </div>
  </div>
</div>