<!-- add the series, if exists -->
{{- with .Params.series -}}
<div class="post_meta_div">
  {{ partial "sprite" (dict "icon" "serie") }}
  <span class="margin-right-1"></span>
  <span class="post_meta_taxo">{{ i18n "series" }} :&nbsp;</span>
  <span class="post_meta_taxolist">
    {{- range . }}
      {{- $ser := urlize . }}
      <a href='{{ absLangURL (printf "series/%s" $ser) }}' class="series_label">
      {{- . }}
      </a>
    {{- end }}
  </span>
</div>
{{- end }}

<!-- add the category -->
{{- with .Params.categories -}}
  <div class="post_meta_div">
    {{ partial "sprite" (dict "icon" "category") }}
    <span class="margin-right-1"></span>
    <span class="post_meta_taxo">{{ i18n "categories" }} :&nbsp;</span>
    <span class="post_meta_taxolist">
      {{- range . }}
        {{- $cat := urlize . }}
        <a href='{{ absLangURL (printf "categories/%s" $cat) }}' class="category_label">
        {{- . }}
        </a>
      {{- end }}
    </span>
  </div>
{{- end }}

<!-- add the tags -->
{{- with .Params.tags -}}
  <div class="post_meta_div">
    {{ partial "sprite" (dict "icon" "tag") }}
    <span class="margin-right-1"></span>
    <span class="post_meta_date">{{ i18n "tags" }} :&nbsp;</span>
    <span class="post_meta_taxolist">
      {{- range . }}
        {{- $tag := urlize . }}
        <a href='{{ absLangURL (printf "tags/%s" $tag) }}' class="tag_label">
        {{- . }}
        </a>
      {{- end }}
    </span>
  </div>
{{- end }}

<!-- add the date value -->
<div class="post_meta_div">
  {{ partial "sprite" (dict "icon" "calendar") }}
  <span class="margin-right-1"></span>
  <span class="post_meta_date">
    {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
  </span>
</div>

<!-- add reading time -->
<div class="post_meta_div">
  {{ partial "sprite" (dict "icon" "hourglass") }}
  <span class="margin-right-1"></span>
  <span class="post_meta_reading_time"><p>{{ i18n "reading_time"}} : {{ .ReadingTime }} {{ i18n "minutes" }}</p></span>
</div>

<!-- add author, if there is -->
{{- if .Params.author }}
  <div class="post_meta_div">
    {{ partial "sprite" (dict "icon" "pencil") }}
    <span class="margin-right-1"></span>
    <span class="post_meta_author"><p>{{ i18n "author"}} : <a href="/about/">{{ .Params.Author }}</a></p></span>
  </div>
{{- end }}