{{- $s := .Site.Params }}
<aside class="sidebar">

  <!-- editorial section -->
  {{ partial "edito" . }}
  
  <!-- subscribe form -->
  {{ if and (.Site.Params.subscriptionAPIEndpoint) (.Site.Params.subscriptionAPIKey) }}
    {{ partial "subscribe-form" . }}
  {{ end }}

  <!-- get the taxonomies of the posts, then match for each -->
  {{- $taxos := .Site.Taxonomies }}
  {{- $taxoLimit := default 12 $s.numberOfTaxonomiesShownSidebar }}

  <!-- categories section -->
  {{ if index $taxos "categories" }}
    <section class="sidebar_inner">
      <h2 class="sidebar_title"><span>{{ partial "sprite" (dict "icon" "category") }}&nbsp;|&nbsp;</span>{{ i18n "categories" }}</h2>
      <div class="sidebar_container_cat">
        <!-- get the categories values from its keyname, then slice array by max count -->
        {{- $valuesCat := index $taxos "categories" }}
        {{ $slicedCats := ($valuesCat.ByCount | first $taxoLimit) }}
        {{ range $_, $value := $slicedCats }}
          <a href='{{ absLangURL "categories" }}/{{ (replace .Name "#" "%23") | urlize }}/'>
            <span class="category_label">{{ truncate 18 (upper .Name) }}
            <span class="category_counter">{{ .Count }}</span></span>
          </a>
        {{ end }}
        <!-- if limit was exceeded, then show button -->
        {{ if gt (len $valuesCat.ByCount) $taxoLimit }}
          <br>
          <br>
          <div class="sidebar_taxonomies_show_all_button button">{{ i18n "all_categories" }}</div>
          {{- $catsInfo := newScratch }}
          <!-- this is the popup div to see all the tags -->
          <div class="sidebar_taxonomies_show_all_container">
            <div class="sidebar_taxonomies_list">
              {{- range $valuesCat.Alphabetical }}
                {{ $catsInfo.Add "catsInfo" (slice .Name .Count)}}
                <a href='{{ absLangURL "categories" }}/{{ (replace .Name "#" "%23") | urlize }}/' class="category_label sidebar_taxos_tags" data-position={{ .Count }}>
                  {{- upper .Name -}}
                  <span class="category_counter">{{ .Count }}</span>
                </a>
              {{ end }}
              <div class="sidebar_taxonomies_show_all_sort">
                <span title={{ i18n "sort_alphabetically" }}>[A~Z]</span>
                <span title={{ i18n "sort_by_count" }}>[0~9]</span>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </section>
  {{ end }}

  <!-- series section -->
  {{ if index $taxos "series" }}
    <section class="sidebar_inner">
      <h2 class="sidebar_title"><span>{{ partial "sprite" (dict "icon" "serie") }}&nbsp;|&nbsp;</span>{{ i18n "series" }}</h2>
      <div class="sidebar_container_ser">
        <!-- get the categories values from its keyname, then slice array by max count -->
        {{- $valuesSeries := index $taxos "series" }}
        {{ $slicedSeries := ($valuesSeries.ByCount | first $taxoLimit) }}
        {{ range $_, $value := $slicedSeries }}
          <a href='{{ absLangURL "series" }}/{{ (replace .Name "#" "%23") | urlize }}/'>
            <span class="series_label">{{ truncate 18 (upper .Name) }}
            <span class="series_counter">{{ .Count }}</span></span>
          </a>
        {{ end }}
        <!-- if limit was exceeded, then show button -->
        {{ if gt (len $valuesSeries.ByCount) $taxoLimit }}
          <br>
          <br>
          <div class="sidebar_taxonomies_show_all_button button">{{ i18n "all_series" }}</div>
          {{- $seriesInfo := newScratch }}
          <!-- this is the popup div to see all the tags -->
          <div class="sidebar_taxonomies_show_all_container">
            <div class="sidebar_taxonomies_list">
              {{- range $valuesSeries.Alphabetical }}
                {{ $seriesInfo.Add "seriesInfo" (slice .Name .Count)}}
                <a href='{{ absLangURL "series" }}/{{ (replace .Name "#" "%23") | urlize }}/' class="series_label sidebar_taxos_tags" data-position={{ .Count }}>
                  {{- upper .Name -}}
                  <span class="series_counter">{{ .Count }}</span>
                </a>
              {{ end }}
              <div class="sidebar_taxonomies_show_all_sort">
                <span title={{ i18n "sort_alphabetically" }}>[A~Z]</span>
                <span title={{ i18n "sort_by_count" }}>[0~9]</span>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </section>
  {{ end }}

  <!-- tags section -->
  {{ if index $taxos "tags" }}
    <section class="sidebar_inner">
      <h2 class="sidebar_title"><span>{{ partial "sprite" (dict "icon" "tag") }}&nbsp;|&nbsp;</span>{{ i18n "tags" }}</h2>
      <div class="sidebar_container_tag">
        <!-- get the tags values from its keyname, then slice array by max count -->
        {{- $valuesTag := index $taxos "tags" }}
        {{ $slicedTags := ($valuesTag.ByCount | first $taxoLimit) }}
        {{ range $_, $value := $slicedTags }}
          <a href='{{ absLangURL "tags" }}/{{ (replace .Name "#" "%23") | urlize }}/'>
            <span class="tag_label">{{ truncate 18 (upper .Name) }}
            <span class="tag_counter">{{ .Count }}</span></span>
          </a>
        {{ end }}
        <!-- if limit was exceeded, then show button -->
        {{ if gt (len $valuesTag.ByCount) $taxoLimit }}
          <br>
          <br>
          <div class="sidebar_taxonomies_show_all_button button">{{ i18n "all_tags" }}</div>
          {{- $tagsInfo := newScratch }}
          <!-- this is the popup div to see all the tags -->
          <div class="sidebar_taxonomies_show_all_container">
            <div class="sidebar_taxonomies_list">
              {{- range $valuesTag.Alphabetical }}
                {{ $tagsInfo.Add "tagsInfo" (slice .Name .Count)}}
                <a href='{{ absLangURL "tags" }}/{{ (replace .Name "#" "%23") | urlize }}/' class="tag_label sidebar_taxos_tags" data-position={{ .Count }}>
                  {{- upper .Name -}}
                  <span class="tag_counter">{{ .Count }}</span>
                </a>
              {{ end }}
              <div class="sidebar_taxonomies_show_all_sort">
                <span title={{ i18n "sort_alphabetically" }}>[A~Z]</span>
                <span title={{ i18n "sort_by_count" }}>[0~9]</span>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </section>
  {{ end }}

</aside>
