<section class="sidebar_inner">
  <div class="nodisplay" id="js-var-subscription-form-invalid">{{- i18n "subscribe_invalid" }}</div>
  <div class="subscribe_text">{{- i18n "subscribe_text" }}</div>
  <div class="subscribe_button_form button">{{- i18n "subscribe_button" }}</div>
  <div class="subscribe_dummy">
    <div class="subscribe_front">
      <h2 class="subscribe_front_h2">{{- i18n "subscribe_title" }}</h2>
      <div class="subscribe_front_text" id="js-var-subscription-form-text">
        {{- i18n "subscribe_label_text" }}
      </div>
      <div class="subscribe_front_grid">
        <label class="subscribe_front_labels">{{- i18n "subscribe_label_name" }}</label>
        <input type="text" value="" class="subscribe_front_input" id="js-var-subscription-form-name">
        <label class="subscribe_front_labels">{{- i18n "subscribe_label_email" }}<span class="subscribe_front_required"> * {{- i18n "subscribe_label_required" }}</span></label>
        <input type="email" value="" class="subscribe_front_input" id="js-var-subscription-form-email">
      </div>
      <div class="subscribe_button_container">
        <div class="subscribe_button_send button">{{- i18n "subscribe_button_subscribe" }}</div>
        <div class="subscribe_button_cancel button">{{- i18n "subscribe_button_cancel" }}</div>
        <div id="js-var-subscription-form-validated" class="nodisplay">{{- i18n "subscribe_validated" }}</div>
      </div>
    </div>
  </div>
</section>
