{{ define "main" }}
  <!-- documentation: https://gohugo.io/templates/404/ -->
  <div class="e404_grid">
    <div class="e404_illustration">
      <svg>
        <use xlink:href="/images/theme/screen.svg#screen"></use>
      </svg>
      <span class="e404_points">&#149;&nbsp;&nbsp;&#149;&nbsp;&nbsp;&#149;</span>
      <svg>
        <use xlink:href="/images/theme/sailboat.svg#boat"></use>
      </svg>
      <span class="e404_points">&#149;&nbsp;&nbsp;&#149;&nbsp;&nbsp;&#149;</span>
      <img src="/images/theme/treasure-map.png">
    </div>
    <div>
      <div class="e404_title">{{ i18n "404_title" }}</div>
      <div class="e404_text">{{ i18n "404_could_not_find" }}</div>
    </div>
    <div class="e404_buttons_grid" id=#{$testvar}>
      <div class="e404_button button" id="js-button-404-back">{{ i18n "go_back" }}</div>
      <div class="e404_button button" id="js-button-404-rand">{{ i18n "go_random" }}</div>
    </div>
  </div>

  <div id="js-page-kind" class="nodisplay">{{ .Kind }}</div>
  {{ $arr := slice }}
  {{- range .Pages }}
    {{- if eq .Kind "page" }}
      {{ if findRE "posts/.+" .Path }} 
        {{ $arr = $arr | append .Permalink }}
      {{ end }}
    {{- end }}
  {{- end }}
  <div id="js-posts-lists" class="nodisplay">{{ $arr }}</div>
  <!-- call js functions for this page -->
  <script src="/js/404-buttons.js"></script>
{{ end }}